@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/*
    Reset CSS tirado de: https://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim do Reset CSS*/

html {
    font-family: 'Source Sans Pro', sans-serif;
    --texto1: #dad7cd;
    --texto2: #000000;
    --fundo: #ffffff;
    --cor1: #344e41;
    --cor2: #3a5a40;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--texto1);
    height: 100vh;
}
.subtitulo {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--texto2);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    background-color: var(--cor1);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 20px;
}

.logo {
    text-decoration: none;
    text-align: center;
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: x-large;
    height: 58px;
}

.logo:visited {
    color: var(--texto);
}

.logo p {
    padding-top: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.link-nav {
    align-self: center;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.link-nav:hover {
    background-color: var(--cor2);
}
.link-nav a {
    text-decoration: none;
    color: var(--texto);
}
.link-nav a:visited {
    text-decoration: none;
}

main {
    flex: auto;
    background-color: var(--fundo);
}
.rodape {
    height: 75px;
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-unitins {
    filter: brightness(1.5);
}




a {
    color: var(--texto1);
}

a:visited {
    color: var(--texto1);
}
.info-dev{
    color: var(--texto2);
    text-align: justify;
}
.info-estrutura{
    color: var(--texto2);
    text-align: justify;
}
#estrutura{
    font-size: 35px;
}