:root {
    --color-pincipal: #1e2e9b;
    --color-branco: #FFFFFF; 
    --color-preto: #000000;
    --color-verm: #a7234f;  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* NAVBAR */
ul{
    color: var(--color-preto);
    list-style: none;
}
.active{
    color: var(--color-branco);
    text-decoration: underline;
    font-weight: bold;
    padding: 8px 15px;
    background-color: var(--color-preto);
    border-radius: 30px;
}
body , html{
    overflow-x: hidden;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: var(--color-branco);
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
/*--------------------------------------------------*/
header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/lousa.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: var(--color-branco);
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line{
    width: 200px;
    height: 5px;
    background: var(--color-preto);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 6vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ctn{
    color: var(--color-branco);
    font-weight: bold;
    padding: 8px 15px;
    background-color: var(--color-preto);
    border-radius: 30px;
}
/* ALGUMAS INFORMAÇÕES */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: var(--color-preto);
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#caderno{
    width: 250px;
}
#escola{
    width: 250px;
}
.algumas-informacoes .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 20px auto;
}
p{
    padding: 0px 40px;
}
.algumas-informacoes .ctn{
    margin-top: 30px;
}


